.NoDataFound{
    width:100%;
    text-align: center;
    padding:50px 0;
}

.dataTable {
    width: 80%;
    margin: 0 auto;
}

.dataTable table {
    width: 100%;
    border-collapse: collapse;
}

.dataTable table th {
    background-color: #E5E7EB;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 2px;
    text-align: center;
}

.dataTable table td p {
    font-weight: 500;
    font-size: 11px;
    margin: 0;
    color: #6b6b6b;
    text-align: center;
}

.dataTable table .buttoncol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dataTable table .buttoncol button {
    background-color: #312E81;
    color: #eee;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 8px 15px;
    width:80px;
    margin: 0 auto;
}
.dataTable tr:nth-child(odd){background-color: #f2f2f2;}

@media screen and (max-width:768px) {
    .dataTable {       
        overflow-x: scroll;
        padding: 10px;
    }   
    .dataTable table th {
        padding:0 20px;
    }
}